{% extends "base.html" %}

{% block header_title %}重置您的密码{% endblock %}

{% block greeting %}<p>{{ user_name }}，您好！</p>{% endblock %}

{% block content %}
<p>我们收到了您的密码重置请求。如果这不是您本人的操作，请忽略此邮件。</p>

<p>请点击下方按钮重置您的密码：</p>

<p style="text-align: center; margin: 30px 0;">
    <a href="{{ reset_url }}" class="btn">重置密码</a>
</p>

<div class="highlight">
    <p style="margin: 0;">此链接将在 <strong>{{ expire_minutes | default(30) }} 分钟</strong> 后失效。</p>
</div>

<p>如果按钮无法点击，请复制以下链接到浏览器打开：</p>
<p style="color: #667eea; word-break: break-all;">{{ reset_url }}</p>

<p>为了保障您的账户安全，建议您：</p>
<ul>
    <li>使用包含大小写字母、数字和特殊字符的强密码</li>
    <li>不要在多个网站使用相同的密码</li>
    <li>定期更换密码</li>
</ul>
{% endblock %}
